<form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
  <mat-form-field>
    <input matInput formControlName="username" autocomplete="off" />
    <mat-placeholder class="placeholder">Username</mat-placeholder>
    <mat-error *ngIf="hasError('username', 'required')"
      >Username is required</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
    />
    <mat-placeholder class="placeholder">Password</mat-placeholder>
    <mat-error *ngIf="hasError('password', 'required')"
      >Password is required</mat-error
    >
    <button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon *ngIf="hide">visibility</mat-icon>
      <mat-icon *ngIf="!hide">visibility_off</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!loginForm.valid"
  >
    SIGN IN
  </button>
</form>
